* { /*border: 1px solid red; */
    padding: 0;
    margin: 0 auto;}
.headerTop {
    border-bottom: 1px solid rgb(143, 142, 142);
    text-align: right;
    color: gray;
    padding: 3px;
    font-size: 13px;
}
.headerTop a:link{
    text-decoration: none;
    color: gray;
}
.headerTop a:active{
    text-decoration: none;
    color: gray;
}
.headerTop a:visited{
    text-decoration: none;
    color: gray;
}
.headerTop a:hover{
    color:black;
    font-weight: bold;
}
.headerTop a {
    margin: 10px;
}
.headerTop img{
    width: 15px;
    height: 15px;
}
.headerTopLogo img{
    width: 250px;
    height: 70px;
    margin: 10px;
}
.headerTopLogo span{
    text-align: center;
}
.headerTopLogo a{
    width: 100%;
    height: 100%;
}
.headerTopSearch{
    position:relative;
    align-self: center;
    height: 40px;
}
.headerTopSearch img{
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 6px;
    right: 11%;
}
.headerTopSearch input{
    position: absolute;
    border-radius: 5px;
    right: 10%;
    width: 60%;
    height: 100%;
}
.nav {
    padding: 0;
}
.navbar {
    border: 1px solid rgb(179, 179, 179);   
    height: 100%;
    width: 100%;   
    padding: 0; 
}
.collapse{
    height: 100%;
}
.dropdown:hover .dropdown-menu {
display: block;
margin-top: 2px;
}
.dropdown-menu {
    width: 100%;
}
.dropdown-menu a{
    text-align: center;
}
li, ul{
    width: 100%;
    text-align: center;
}